---
import { basics, skills, achievements, interests, languages } from '@profile';
import Layout from '@/layouts/Layout.astro';

import profileImg from '@/assets/profile.jpg';
import Avatar from '@/components/media/Avatar.astro';
import MaterialIcon from '@/components/ui/MaterialIcon.astro';
import List from '@/components/ui/List.astro';

import Section from '@/components/sections/Section.astro';
import Hero from '@/components/sections/Hero.astro';
---
<Layout>
  <div class="flex flex-col md:flex-row gap-5 max-w-[960px] min-h-[400px] mx-auto p-5 print:m-0 print:p-0">

    <!-- Sidebar -->
    <aside class="flex-none w-full md:w-1/3 p-5 text-[#3b3333] rounded-md text-xs break-words flex flex-col gap-4 border-1 border-[#3b3333]">
      <Avatar src={profileImg.src} />

      <!-- Summary -->
      <Section Icon={MaterialIcon} iconProps={{icon: "account_circle", size: 24, isHighlighted: true}}>
        <h3 slot="title" class="inline text-xl font-bold underline ml-2">Summary</h3>
        <p slot="content">
          {basics.summary}
        </p>
      </Section>

      <!-- Skills -->
      <Section Icon={MaterialIcon} iconProps={{icon: "rocket_launch", size: 24, isHighlighted: true}}>
        <h3 slot="title" class="inline text-xl font-bold underline ml-2">Skills</h3>
        <List slot="content" items={skills} />
      </Section>

      <!-- Achievements -->
      <Section Icon={MaterialIcon} iconProps={{icon: "flag", size: 24, isHighlighted: true}}>
        <h3 slot="title" class="inline text-xl font-bold underline ml-2">Key Achievements</h3>
        <List slot="content" items={achievements} titleKey="title" descKey="description" />
      </Section>

      <!-- Interests -->
      <Section Icon={MaterialIcon} iconProps={{icon: "favorite", size: 24, isHighlighted: true}}>
        <h3 slot="title" class="inline text-xl font-bold underline ml-2">Interests</h3>
        <List slot="content" items={interests} titleKey="title" descKey="description" />
      </Section>

      <!-- Languages -->
      <Section Icon={MaterialIcon} iconProps={{icon: "language", size: 24, isHighlighted: true}}>
        <h3 slot="title" class="inline text-xl font-bold underline ml-2">Languages</h3>
        <List slot="content" items={languages} titleKey="language" descKey="fluency" />
      </Section>
    </aside>

    <!-- Main -->
    <main class="flex-1 w-full p-5 bg-[#f4f4f4] rounded-md text-xs">
      <Hero name={basics.name} label={basics.label} />

    </main>

  </div>
</Layout>
